<html>
    <head>
        <title>Trading Bot Dashboard</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
    
    <div class="ui container">
        <h2>Watch List</h2>
        <table class="ui striped table">
            <thead>
                <tr>
                <th>Stock Tickers</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks%}
                <tr>
                    <td><a href="/stock/{{stock.symbol}}">{{ stock.symbol }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <h2>delete stock from watch list</h2>
            <form action="/delete" method="post">
                <input type="text" name="delete_stock">
                <input type="submit">
            </form>
        
            <h2>Add Stocks to Watchlist</h2>

            <form action="/add" method="post">
            <label for="fname">stock symbol:</label>
            <input type="text" id="fname" name="add_symbol"><br><br>
            <label for="lname">stock exchange:</label>
            <input type="text" id="lname" name="add_exchange"><br><br>
            <input type="submit">
            </form>
            <h2>Add Assets to Active Investments</h2>
            <form action="/add_asset" method="post">
            <label for="fname">stock asset:</label>
            <input type="text" id="fname" name="add_asset"><br><br>
            <input type="submit">
            </form>

            <h2>Current Active Investments</h2>
        <table class="ui striped table">
            <thead>
                <tr>
                <th>Stock Tickers</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in assets%}
                <tr>
                    <td>{{ stock.stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

            <h2>delete Asset from Active Investments</h2>
            <form action="/delete_asset" method="post">
                <input type="text" name="delete_stock">
                <input type="submit">
            </form>
            
            <h2>Back Testing</h2>
            <form action="/backtest" method="post">
            <label for="fname">stock symbol:</label>
            <input type="text" id="fname" name="symbol"><br><br>
            <input type="submit">
            </form>
    </div>
    </body>
</html>
